In [8]:
# Creating a new DataBase and uploading the Values in MYSQL Server

import mysql.connector

# Making Connection between Python MySQL with the DataBase Server
New_Data = mysql.connector.connect(host = "localhost" , user = "root" , password="")

# Preparing a cursur object in Python
NData_Cursor = New_Data.cursor()

# Creating a new DataBase
Database_name = "CREATE DATABASE Sports"
NData_Cursor.execute(Database_name)

# Committing and Closing the Connection
New_Data.commit()
New_Data.close()

In [16]:
# Making Connection between Python MySQL with the DataBase Server

New_Data = mysql.connector.connect(host = "localhost" , user = "root" , password="" , database = "Sports")

# Preparing a cursur object in Python
NData_Cursor = New_Data.cursor()

# Creating a new table
Table_name = "CREATE TABLE NBA ( Name VARCHAR(255),Team VARCHAR(255),Number Float(10),Position TEXT(10),Age Float(10),Height VARCHAR(10),Weight Float(10),College TEXT(200),Salary BIGINT(200) )"

NData_Cursor.execute(Table_name)

In [44]:
# Import the available data

import pandas as pd
NBA=pd.read_csv(r"C:\Users\MOHANRAJ\Desktop\Python Programs\Main-Boot-First-Class\nba.csv")
nba = []
nba= NBA.dropna()
NBA_Data = nba.values.tolist()

# Inserting thde data into the Table NBA
NBA_Data_Insert = "INSERT INTO `NBA` (Name,Team,Number,Position,Age,Height,Weight,College,Salary) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
NData_Cursor.executemany(NBA_Data_Insert, NBA_Data)

# Committing and Closing the Connection
New_Data.commit()
New_Data.close()

In [ ]:
# Creating a new DataBase and uploading the Values in MYSQL Server

import mysql.connector

# Making Connection between Python MySQL with the DataBase Server
New_Data = mysql.connector.connect(host = "localhost" , user = "root" , password="")

# Preparing a cursur object in Python
NData_Cursor = New_Data.cursor()

# Creating a new DataBase
Database_name = "CREATE DATABASE Titanic"
NData_Cursor.execute(Database_name)

# Committing and Closing the Connection
New_Data.commit()
New_Data.close()

In [ ]:
# Making Connection between Python MySQL with the DataBase Server

New_Data = mysql.connector.connect(host = "localhost" , user = "root" , password="" , database = "Titanic")

# Preparing a cursur object in Python
NData_Cursor = New_Data.cursor()

# Creating a new table
Table_name = "CREATE TABLE Status ( survived int(100),pclass int(100),sex TEXT(10),age FLOAT(5),sibsp INT(10),parch INT(10),fare Float(10),embarked TEXT(10),class TEXT(20),who TEXT(10),adult_male TEXT(20),deck TEXT(10),embark_town TEXT(100),alive TEXT(10),alone TEXT(10) )"

NData_Cursor.execute(Table_name)

In [ ]:
# Import the available data

import pandas as pd
import seaborn as sns
dft = sns.load_dataset("titanic")
ti = []
ti= dft.dropna()
Titanic = ti.values.tolist()


# Inserting thde data into the Table Status
NBA_Data_Insert = "INSERT INTO `Status` (survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
NData_Cursor.executemany(NBA_Data_Insert, Titanic)

# Committing and Closing the Connection
New_Data.commit()
New_Data.close()