In [2]:
!pip install pymongo

# Establishing Connection with cloud
from pymongo import MongoClient

Raj = MongoClient("mongodb://Raj-MongoDB:MongoDBClass1@ac-jfn9xtc-shard-00-00.y2u29tf.mongodb.net:27017,ac-jfn9xtc-shard-00-01.y2u29tf.mongodb.net:27017,ac-jfn9xtc-shard-00-02.y2u29tf.mongodb.net:27017/?ssl=true&replicaSet=atlas-cknut1-shard-0&authSource=admin&retryWrites=true&w=majority")
Raj   # Object -->MongoClient-->Creating Connection

Requirement already satisfied: pymongo in c:\users\mohanraj\anaconda3\lib\site-packages (3.10.1)

MongoClient(host=['ac-jfn9xtc-shard-00-02.y2u29tf.mongodb.net:27017', 'ac-jfn9xtc-shard-00-00.y2u29tf.mongodb.net:27017', 'ac-jfn9xtc-shard-00-01.y2u29tf.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='atlas-cknut1-shard-0', authsource='admin', retrywrites=True, w='majority')

In [4]:
# Creating a  database
db=Raj["Student_Database"]

# Creating a Collections
Collection=db["Students_Record"]

# Uploading the data
import json
data = [json.loads(line) for line in open("C:/Users/MOHANRAJ/Desktop/Python Programs/Assignments/Assignment 4/MongoDB DataBase Management/students.json", "r")]
Collection.insert_many(data)

In [5]:

# REtriving and Modifying the data For better analysis and understanding

# Calling the existing DataBase
db_Student=Raj["Student_Database"]

# Calling the existing Collection
collec_Student=db_Student["Students_Record"]

# Retriving the data or downloading the data from cloud and adding it to the list
All_Data=[]

for i in collec_Student.find():
    All_Data.append(i)

#Converting the list into DataFrame
import pandas as pd
Student_Data = pd.DataFrame(All_Data)

# Seperating the score column into Exam Quiz and Home work for better under standing
All_Score=[]
for A in Student_Data["scores"]:
    for B in range (0,3):
        LIS = A[B]
        All_Score.append(LIS)

# Converting List into DataFrame
All_Score = pd.DataFrame(All_Score)



# Seperating type into multiple data
# Exam
Escore=All_Score[All_Score["type"]=="exam"]
Exam_Mark=[]
for emark in Escore["score"]:
    Exam_Mark.append(emark)
    
Student_Data["Exam"] = Exam_Mark


# Quiz
Qscore=All_Score[All_Score["type"]=="quiz"]
Quiz_Mark=[]
for qmark in Qscore["score"]:
    Quiz_Mark.append(qmark)
    
Student_Data["Quiz"] = Quiz_Mark


# Homework
HWscore=All_Score[All_Score["type"]=="homework"]
Homework_Mark=[]
for hmark in HWscore["score"]:
    Homework_Mark.append(hmark)
    
Student_Data["HomeWork"] = Homework_Mark

# Dropping the Scores column
Student_Data = Student_Data.drop(['scores'], axis=1)

# Uploading the Modified Dataset

# Calling existing a  database
db=Raj["Student_Database"]

# Creating a Collections
Collection_1=db["Students_Data"]

# COnverting the DataFrame into dictionary
Student_Data = Student_Data.to_dict("Record")

# Uploading or inserting the data
Collection_1.insert_many(Student_Data)

C:\Users\MOHANRAJ\AppData\Local\Temp\ipykernel_15840\1956592098.py:70: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  Student_Data = Student_Data.to_dict("Record")

In [78]:
# Find the student name who scored maximum scores in all (exam, quiz and homework)?
# There is no student who scored maximum scores in all (exam, quiz and homework) 
# so i listed out which student who maximum scores in any of the three (exam, quiz and homework)

# Calling the existing DataBase
db_Student=Raj["Student_Database"]

# Calling the existing Collection
collec_Student=db_Student["Students_Data"]

# Max score in Exam
Max_Score_Exam=[]

for i in collec_Student.find(sort=[("Exam", -1)]).limit(1):
    Max_Score_Exam.append(i)
Max_Score_Exam = pd.DataFrame(Max_Score_Exam)

print(Max_Score_Exam[["name","Exam"]],"\n")


# Max Score in Quiz
Max_Score_Quiz=[]

for i in collec_Student.find(sort=[("Quiz", -1)]).limit(1):
    Max_Score_Quiz.append(i)
Max_Score_Quiz = pd.DataFrame(Max_Score_Quiz)

print(Max_Score_Quiz[["name","Quiz"]],"\n")


# Max Score in Home Work
Max_Score_HomeWork=[]

for i in collec_Student.find(sort=[("HomeWork", -1)]).limit(1):
    Max_Score_HomeWork.append(i)
Max_Score_HomeWork = pd.DataFrame(Max_Score_HomeWork)

print(Max_Score_HomeWork[["name","HomeWork"]])

              name       Exam
0  Margart Vitello  99.336858

           name       Quiz
0  Cody Strouth  99.803482

            name   HomeWork
0  Whitley Fears  99.772377

In [171]:
average

{'Exam': 48.67367075950175,
 'Quiz': 48.99672319430254,
 'HomeWork': 67.81869620661149}

In [166]:
# Find students who scored below average in the exam and pass mark is 40%?
# Less the Average and above pass mark in exam

Pass_Mark = 40
AVG_Exam=[]


for a in collec_Student.aggregate([{"$group": {"_id":"Exam", "avg_val":{"$avg":"$Exam"}}}]):
    AVG_Exam.append(a)
Avg_Exam=[d['avg_val'] for d in AVG_Exam]
Average_exam=Avg_Exam[0]


Scores_below_average_passed_Exam = []
for b in collec_Student.find({"$and":[ {"Exam" : {"$lt" :Average_exam }},{"Exam" : {"$gt":Pass_Mark}} ] }):
    Scores_below_average_passed_Exam.append(b)

# for Better Viewing I convert the list of dictionary into dataframe
Scores_below_average_passed_Exam = pd.DataFrame(Scores_below_average_passed_Exam)
Scores_below_average_passed_Exam[["name","Exam"]]

                name       Exam
0     Wilburn Spiess  44.871863
1       Denisha Cast  45.618769
2       Gisela Levin  44.512111
3     Tressa Schwing  42.174398
4       Rosana Vales  46.228948
5   Tamika Schildgen  45.654328
6    Gwyneth Garling  48.366450
7       Kayce Kenyon  44.624417
8     Terica Brugger  42.101131
9          Chad Rahe  40.845720
10   Jenise Mcguffie  40.152105
11        Cassi Heal  43.043110
12  Demarcus Audette  47.426086
13       Flora Duell  40.682390
14    Quincy Danaher  40.531369
15     Alix Sherrill  43.674362
16  Laureen Salomone  42.543230
17   Gwyneth Garling  44.295535
18     Aleida Elsass  42.895583
19      Alica Pasley  41.385282
20     Malisa Jeanes  40.686760
21  Harriett Velarde  41.479883
22    Mariela Sherer  47.671967

In [108]:
 # Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories.

Pass_Mark=40

Scored_Below_Pass_Mark=[]
for c in collec_Student.find({"$or" : [ {"Exam" : {"$lt":Pass_Mark}},{"Quiz" : {"$lt":Pass_Mark}},{"HomeWork" : {"$lt":Pass_Mark}} ]  }):
      Scored_Below_Pass_Mark.append(c)
        

Scored_Above_Pass_Mark=[]
for c in collec_Student.find({"$and" : [ {"Exam" : {"$gt":Pass_Mark}},{"Quiz" : {"$gt":Pass_Mark}},{"HomeWork" : {"$gt":Pass_Mark}} ]  }):
      Scored_Above_Pass_Mark.append(c)

# For Assigning their Results and for better view
Scored_Below_Pass_Mark = pd.DataFrame(Scored_Below_Pass_Mark)
Scored_Below_Pass_Mark["Result"]="Fail"
        
Scored_Above_Pass_Mark = pd.DataFrame(Scored_Above_Pass_Mark)
Scored_Above_Pass_Mark["Result"]="Pass"

Student_Result = pd.concat([Scored_Below_Pass_Mark,Scored_Above_Pass_Mark])
Student_Result

    _id              name       Exam       Quiz   HomeWork Result
0     0        aimee Zank   1.463180  11.782733  35.874035   Fail
1     2       Corliss Zuk  67.030771   6.301852  66.283447   Fail
2     3        Bao Ziglar  71.643439  24.802213  42.261471   Fail
3     4  Zachary Langlais  78.683851  90.296310  34.416201   Fail
4     5    Wilburn Spiess  44.871863  25.723951  63.422883   Fail
..  ...               ...        ...        ...        ...    ...
49  185       Kam Senters  49.882254  45.295154  68.880490   Pass
50  188      Leola Lundin  60.314726  41.123275  74.869918   Pass
51  190      Adrien Renda  64.161092  66.937306  96.056034   Pass
52  191       Efrain Claw  94.671538  82.300879  75.860758   Pass
53  193    Mariela Sherer  47.671967  41.557435  70.461281   Pass

[200 rows x 6 columns]

In [133]:
# Find the total and average of the exam, quiz and homework and store them in a separate collection.

Average = []
for av in collec_Student.aggregate([{"$unwind" : "$Exam"}, {"$unwind" : "$Quiz"}, {"$unwind" : "$HomeWork"},
                                   {"$group" : {"_id" : "null","exam" : {"$avg" : "$Exam"},"quiz" : {"$avg" : "$Quiz"},"homework" : {"$avg" : "$HomeWork"},}},
                                   {"$project" : {"_id" : 0,"Average" : [{"Exam" : "$exam","Quiz" : "$quiz","HomeWork" : "$homework"}]}}]):
    Average.append(av)
    

Sum = []
for su in collec_Student.aggregate([{"$unwind" : "$Exam"}, {"$unwind" : "$Quiz"}, {"$unwind" : "$HomeWork"},
                                   {"$group" : {"_id" : "null","exam" : {"$sum" : "$Exam"},"quiz" : {"$sum" : "$Quiz"},"homework" : {"$sum" : "$HomeWork"},}},
                                   {"$project" : {"_id" : 0, "Total_Sum":[{"Exam" : "$exam","Quiz" : "$quiz","HomeWork" : "$homework"}]}}]):
    Sum.append(su)
    


# Calling existing a  database
db=Raj["Student_Database"]

# Creating a Collections For Average
Collection_A=db["Average"]
Collection_A.insert_many(Average)

# Creating a Collections For Total Sum
Collection_S=db["Total_Sum"]
Collection_S.insert_many(Sum)

# Creating a Collections For Overview
Overview = Average + Sum
Collection_O=db["OverView"]
Collection_O.insert_many(Overview)

In [170]:
# Average for all the categories
Average[0]
average=dict(Average[0])
average=average["Average"]
average=average[0]

average

{'Exam': 48.67367075950175,
 'Quiz': 48.99672319430254,
 'HomeWork': 67.81869620661149}

In [158]:
# Create a new collection which consists of students who scored below average and above 40% in all the categories.

Scores_below_average_passed_ALL = []
for val in collec_Student.find(  {"$and" :[{"$and":[ {"Exam" : {"$lt" :average["Exam"] }},{"Exam" : {"$gt":Pass_Mark}} ] },{"$and":[ {"Quiz" : {"$lt" :average["Quiz"] }},{"Quiz" : {"$gt":Pass_Mark}} ] },{"$and":[ {"HomeWork" : {"$lt" :average["HomeWork"] }},{"HomeWork" : {"$gt":Pass_Mark}} ] }]}):
    Scores_below_average_passed_ALL.append(val)
    
Scores_below_average_passed_ALL
# Zero students scored below average and above 40% in all the categories. So there is no reason to create the collection at all

[]

In [164]:
# Create a new collection which consists of students who scored below the fail mark in all the categories.

Pass_Mark=40
Scores_Below_Pass_Mark = []

for sw in collec_Student.find({"$and" :[{"Exam" : {"$lt":Pass_Mark}},{"Quiz" : {"$lt":Pass_Mark}},{"HomeWork" : {"$lt":Pass_Mark}}]}):
    Scores_Below_Pass_Mark.append(sw)
    
print(Scores_below_Pass_Mark)
# There is only one student is scored below the fail mark in all the categories.

# Calling existing a  database
db=Raj["Student_Database"]

# Creating a new collection Failed in all the Categories
Collection_FAC=db["Failed_All_Categories"]
Collection_FAC.insert_many(Scores_Below_Pass_Mark)

[{'_id': 0, 'name': 'aimee Zank', 'Exam': 1.463179736705023, 'Quiz': 11.78273309957772, 'HomeWork': 35.8740349954354}]

In [165]:
# Create a new collection which consists of students who scored above pass mark in all the categories
Pass_Mark=40
Scores_above_Pass_Mark = []

for sa in collec_Student.find({"$and" :[{"Exam" : {"$gt":Pass_Mark}},{"Quiz" : {"$gt":Pass_Mark}},{"HomeWork" : {"$gt":Pass_Mark}}]}):
    Scores_above_Pass_Mark.append(sa)
    
# Calling existing a  database
db=Raj["Student_Database"]

# Creating a new collection Failed in all the Categories
Collection_PAC=db["Passed_All_Categories"]
Collection_PAC.insert_many(Scores_above_Pass_Mark)